.about-section {
    margin-top: 125px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
}

.about-section p {
    margin: 10px;
}

.about-description {
    flex: 75%;
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    height: max-content;
    width: max-content;
}

.about-description-email {
    color: blue;
}

.about-image {
    flex: 25%;
}

.about-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid;
}
